body, html{
  height:100%;
}
body{
  height:100%;
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}

.buttons {
  display: grid;
  padding: 5px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-left: 10px;
}
.btn{;
  padding:1px;
  margin-right: 20px;
  border-style: solid;
  border-color: purple;
  border-radius: 5px;
  border-width: 10px;
  background-color: white;
  font-family: 'Fjalla One', sans-serif;
  font-size: 2vw;
  color: lightblue;
  cursor: pointer;
}

.btn:hover{
  background-color:#22223b;
}

.topbar, .title{
  background-color: whitesmoke;
  float: center;
  font-family: 'Roboto', sans-serif;
  font-size: 5vw;
  margin: auto;
}
.topbar{
  display: grid;
  height:30%;
}


.dancer{
  border-radius:10px;
  position:absolute;
}

.bouncyDancer:hover{
  /* background-color: black; */
  border-radius: 10px;
  /* position: absolute;
  transform: scale(2); */
}


.instructions {
  padding:5px;
  margin-right: 20px;
  border-style: solid;
  border-color: lightblue;
  border-radius: 5px;
  border-width: 10px;
  background-color: white;
  font-family: 'Fjalla One', sans-serif;
  font-size: 1vw;
  color: purple ;
}